<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to My Flask App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('hello') }}">Home</a></li>
                <li><a href="{{ url_for('predict') }}">Go to Prediction Page</a></li>
                <li><a href="{{ url_for('retrain') }}">Go to Retrain Page</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>This is the home page of the Penguin application. Navigate to the prediction page to make a prediction.</p>
    </main>
</body>
</html>
