<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrain Model</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Retrain Model</h1>
        <nav>
            <ul>
                <li><a href= '/' >Home</a></li>
                <li><a href='/api/v1/predict' >Predict</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form id="retrain-form">
            <input type="submit" value="Retrain Model">
        </form>

        <div id="retrain-result"></div>
    </main>

    <script>
        document.getElementById('retrain-form').addEventListener('submit', function(event) {
            event.preventDefault();
            
            fetch('/api/v1/retrain', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    document.getElementById('retrain-result').innerHTML = data.message;
                } else if (data.error) {
                    document.getElementById('retrain-result').innerHTML = 'An error occurred: ' + data.error;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('retrain-result').innerHTML = 'An error occurred: ' + error;
            });
        });
    </script>
</body>
</html>
